<%- include('./header.ejs') %>

<h1>Getting Started</h1>
<p>마인크래프트 플레이를 위한 기본적인 서버 접속 방법 & 옵션들</p>
<hr class="col-3 col-md-2 mb-5">

<h2>1. TLauncher 설치</h2>
<p>TLauncher는 여러 버젼의 마인크래프트 Java Edition을 실행하기 위한 아주 편리한 갓-갓 툴입니다. 엄한 곳에서 받아 랜섬웨어에 고통 받지 마시고 아래의 공식 사이트 링크에서 받도록 합시다.</p>
<ul>
	<li>Windows: <a href="https://tlauncher.org/installer">https://tlauncher.org/installer</a></li>
	<li>Mac: <a href="https://tlauncher.org/jar">https://tlauncher.org/jar</a></li>
</ul>

<h2>2. 마인크래프트 설치 및 접속</h2>
<p>우리 서버에서는 마인크래프트 버젼을 <b>1.16.5</b>를 사용합니다. 닉네임 적어 주시고 버젼을 <b>ForgeOptifine 1.16.5</b>를 선택해서 받아주세요.</p>
<p>서버 주소는 다음과 같습니다.</p>
<pre>
<code>minecraft.chatpot.chat</code>
</pre>
<p>마인크래프트가 실행되면, 멀티플레이어 > 직접 접속 > 해당 서버주소를 입력합니다. 접속이 되면 이제 게임을 시작할 수 있습니다.</p>

<h2>3. 추천 모드 설치</h2>
<p>기본 상태의 마인크래프트는 매우 불편합니다. 다음 모드들을 설치하여 일하는데 어려움이 없도록 합시다.</p>
<h3>3-1. JourneyMap</h3>
<p>이걸 설치하면 미니맵과 현재시간, 내 좌표를 실시간으로 볼 수 있어 매우 편리합니다. 웨이포인트도 찍을수 있으니 반드시 깔아줍시다. 다음 링크에서 파일을 다운로드 받읍시다.</p>
<p><a href="https://www.curseforge.com/minecraft/mc-mods/journeymap/files/3222876">https://www.curseforge.com/minecraft/mc-mods/journeymap/files/3222876</a></p>
<p>다운로드 받은 후 TLauncher 화면에서 폴더 모양 아이콘을 누르면 실제 탐색기가 실행됩니다. 거기에서 mods 폴더 내에 앞서 받은 jar 파일을 넣어주고 마인크래프트를 껐다가 다시 실행합니다.</p>
<h3>3-2. BSL Shader (컴퓨터 성능에 자신있는 경우)</h3>
<p>마인크래프트의 모든 사물이 매우 간지가 나게 됩니다. 단 그래픽카드가 좋지 않으면 하지 않기를 권합니다. 다음 링크에서 다운로드 받을 수 있습니다.</p>
<p><a href="https://www.curseforge.com/minecraft/customization/bsl-shaders/download/">https://www.curseforge.com/minecraft/customization/bsl-shaders/download/</a></p>
<p>다운로드를 받은 후의 설정은 설명하기 귀찮으니 다음 링크를 보시는걸 권합니다.</p>
<p><a href="https://errornight.com/minecraft96.php">https://errornight.com/minecraft96.php</a></p>

<%- include('./footer.ejs') %>