<%- include('./header.ejs') %>

<div class="row g-5">
	<h1>프로젝트: 금오공대 건설</h1>
	<p><img src="/assets/kumoh-fluid-1.jpg" class="img-fluid"></p>
	<p>우리는 만든다 1:1사이즈(1미터=1블록)의 금오공대를!</p>

	<hr class="col-3 col-md-2 mb-5">
</div>
<div class="row g-5">
	<section class="col-xs-12 col-md-6">
		<div class="h-100 p-5 text-white bg-dark rounded-3">
			<h2>주요건물</h2>
			<p>그것은 기준한다 2012년</p>
			<ul class="icon-list">
				<li>디지털관 - </li>
				<li>학생회관 - </li>
				<li>도서관 - </li>
				<li>글로벌관- </li>
				<li>테크노관 - </li>
				<li>공동실험실습관 - </li>
				<li>대외협력관 - </li>
				<li>야외공연장 및 금오지</li>
			</ul>
		</div>
	</section>
	<section class="col-xs-12 col-md-6">
		<div class="h-100 p-5 text-white bg-dark rounded-3">
			<h2>진행 상황</h2>
			<ul class="icon-list">
				<li>2021.07.13 - 건축지역 확정</li>
				<li>2021.07.17 - 화약공장 가동</li>
				<li>2021.07.21 - 화약공장 증축(7층)</li>
			</ul>
		</div>
	</section>
</div>

<%- include('./footer.ejs') %>