<%- include('./header.ejs') %>

<h1>마을들</h1>
<p>지금 서버들의 거점 마을들에 대해서 설명합니다.</p>
<hr class="col-3 col-md-2 mb-5">

<h2>분당<small class="text-muted">The Bundang</small></h2>
<p><img src="/assets/vil_bundang.png" class="img-fluid"></p>
<p>최초의 마을입니다. 월드 시작후 생성된 마을을 거점으로 하여 발달한 꽤나 큰 도시입니다. Gllory가 판 지옥같이 깊은 탄광이 있습니다. 철과 석탄이 풍부하며, 금도 간혹 나오는것 같습니다.</p>
<p>분당에는 하늘에 잠실-분당간 고속철도가 건설되어 있는데, 여기 KoreaExpressway가 건설한 NAVER 마크가 일종의 랜드마크입니다.</p>
<p>
	<code>
		좌표: x:168, z:328, y:91
	</code>
</p>

<h2>잠실<small class="text-muted">The Jamsil</small></h2>
<p><img src="/assets/vil_jamsil.png" class="img-fluid"></p>
<p>bboloe가 첫 집을 건설하며 시작된 마을입니다. 쓸데없이 높은 롯데월드타워가 있으며, 역시나 잠실-분당간 고속철도가 지나갑니다. 여기에는 집의 지하로 두 개의 광산이 있는데, 분당의 헬-난이도 광산보다는 적절한 길이를 가져 초보자에게 적합합니다.</p>
<p>
	<code>
		좌표: x:485, z:101, y:75
	</code>
</p>

<h2>잠실나루<small class="text-muted">The Jamsilnaru</small></h2>
<p><img src="/assets/vil_jamsilnaru.png" class="img-fluid"></p>
<p>AMD가 첫 집을 건설하고 잠실로부터의 고속철도를 연장하여 시작된 마을입니다. 적절한 밭이 있는 아름다운 곳입니다.</p>
<p>
	<code>
		좌표: x:523, z:15, y:84
	</code>
</p>

<h2>동탄<small class="text-muted">The Dongtan</small></h2>
<p><img src="/assets/vil_dongtan.png" class="img-fluid"></p>
<p>숲이 있는 곳을 피하고 싶어 분당의 남쪽에 개발중인 신도시입니다. 개 예쁜 강과 호수를 끼고 있는 평화로운 곳이지만 아직은 황량합니다. 고속철도 연장 공사 중입니다.</p>
<p>
	<code>
		좌표: x:184, z:458, y:68
	</code>
</p>

<%- include('./footer.ejs') %>